<template>
  <div>
    <div v-if="editing">
      <my-input
        ref="editInput"
        v-model="newText"
        v-on-clickaway="cancelEditing"
        type="text"
        :loading="!promiser.done"
        data-testid="editable-input"
        @escape="cancelEditing"
        @enter="enter"
      />
    </div>
    <div v-else>
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { mixin as clickaway } from 'vue-clickaway'
import Promiser from '@/Promiser'
import MyInput from './Input.vue'

@Component({
  components: { MyInput },
  mixins: [clickaway]
})
export default class extends Vue {
  @Prop() readonly text!: string
  private editing = false
  private newText = ''
  private promiser = new Promiser(null)

  beginEditing(): void {
    this.editing = true
    this.newText = this.text

    this.$nextTick(() => {
      const editInput = this.$refs.editInput as MyInput
      editInput.focus()
      editInput.selectAll()
    })
  }

  setLoading<T>(promise: Promise<T>): void {
    this.promiser = new Promiser(promise.finally(() => { this.cancelEditing() }))
  }

  private cancelEditing(): void {
    this.editing = false
    this.newText = ''
    this.promiser = new Promiser(null)
  }

  private enter(): void {
    this.$emit('edited', this.newText)
  }
}
</script>
