<template>
  <div class="empty">
    <div class="icon">
      <i :class="icon" />
    </div>
    <div class="title">
      {{ title }}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class extends Vue {
  @Prop() icon!: string
  @Prop() title!: string
}
</script>

<style scoped lang="scss">
.empty {
  color: $empty;
  padding: 1.6rem;
  text-align: center;

  .icon {
    font-size: 300%;
  }

  .title {
    font-weight: bolder;
    font-size: 125%;
  }
}
</style>
