<template>
  <div
    v-on-clickaway="focusLost"
    @keydown.tab="focusLost"
    @click="focus"
  >
    <span
      v-if="placeholder"
      class="placeholder"
      :class="{ 'with-icon': icon,
                'focus': hasFocus,
                'on-top': text || hasFocus }"
    >{{ placeholder }}</span>
    <div
      class="input"
      :class="{ 'focus': hasFocus,
                'disabled': loading }"
    >
      <i
        v-if="icon"
        class="icon"
        :class="icon"
      />
      <input
        ref="input"
        v-model="text"
        :type="showPassword ? 'text' : type"
        :disabled="loading"
        @focus="hasFocus = true"
        @keydown.esc="$emit('escape')"
        @keydown.enter="$emit('enter')"
      >
      <i
        v-if="type == 'password'"
        class="icon password-icon typcn typcn-eye-outline"
        :class="{ 'hide-password': !showPassword }"
        @click="showPassword = !showPassword"
      />
      <loading
        v-if="loading"
        class="loading"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { mixin as clickaway } from 'vue-clickaway'
import Loading from './Loading.vue'

@Component({
  components: { Loading },
  mixins: [clickaway]
})
export default class extends Vue {
  @Prop() readonly value!: string
  @Prop() readonly type!: string
  @Prop() readonly placeholder!: string
  @Prop() readonly icon: string | undefined
  @Prop() readonly loading!: boolean
  @Prop() readonly autofocus: boolean | undefined
  hasFocus = false
  showPassword = false

  mounted(): void {
    if (this.autofocus) {
      this.focus()
    }
  }

  get text(): string {
    return this.value
  }

  set text(value: string) {
    this.$emit('input', value)
  }

  focus(): void {
    this.input.focus()
  }

  private focusLost(): void {
    this.hasFocus = false
  }

  selectAll(): void {
    this.input.setSelectionRange(0, this.input.value.length)
  }

  get input(): HTMLInputElement {
    return this.$refs.input as HTMLInputElement
  }
}
</script>

<style scoped lang="scss">
.input {
  display: flex;
  align-items: center;
  border: 1px solid $border;

  .icon {
    flex: 0 0 auto;
    padding: 0.1em 0.3em;
    color: $small;
    font-size: 150%;
    line-height: 1;
  }

  .password-icon {
    cursor: pointer;
  }

  .hide-password {
    text-decoration: line-through;
  }

  &.focus {
    border-color: $primary;

    .icon {
      color: $primary;
    }

    .password-icon {
      color: $primary;
    }
  }

  &.disabled {
    background-color: $disabled;
  }

  input {
    flex: 1 1 auto;
    padding: 0;
    border: none;
    font-size: inherit;
    font-family: inherit;
    min-width: 30px;

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: $disabled;
      color: $text-disabled;
    }
  }

  .loading {
    color: $primary;
    margin-right: 6px;
  }
}

.placeholder {
  font-family: sans-serif;
  font-size: 70%;
  display: inline-block;
  transform: translate(1em, 2.5em);
  transition: all 0.2s ease;
  color: $placeholder;
  pointer-events: none;

  &.with-icon {
    transform: translate(4em, 2.3em);
  }

  &.on-top {
    transform: none;
    font-size: 60%;
    color: inherit;
  }

  &.focus {
    color: $primary;
  }
}
</style>
