<template>
  <span>
    <div
      ref="spinner"
      class="spinner"
    >
      <div v-if="color">
        <div
          class="dot1"
          :style="{ 'background-color': color }"
        />
        <div
          class="dot2"
          :style="{ 'background-color': color }"
        />
      </div>
    </div>
  </span>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class extends Vue {
  color: string | null = null

  mounted(): void {
    const element = this.$refs.spinner as HTMLElement
    this.color = window.getComputedStyle(element).color
  }
}
</script>

<style scoped lang="scss">
.spinner {
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  animation: sk-rotate 2s infinite linear;
}

.loading-large {
  .spinner {
    width: 3em;
    height: 3em;
  }
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: $primary;
  border-radius: 50%;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
</style>
