<template>
  <div class="outer">
    <div
      v-if="loading && delayPassed"
      class="bar"
    />
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'

@Component
export default class extends Vue {
  @Prop() loading!: boolean
  delayInMilliseconds = 300
  delayPassed = false

  @Watch('loading', { immediate: true })
  loadingChanged(newValue: boolean): void {
    this.delayPassed = false
    if (newValue) {
      setTimeout(() => {
        this.delayPassed = true
      }, this.delayInMilliseconds)
    }
  }
}
</script>

<style scoped lang="scss">
// Source: https://css-tricks.com/css3-progress-bars/
.outer {
  position: relative;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-image:
    linear-gradient(
      to bottom,
      $primary,
      lighten($primary, 15%)
    );
}

.bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image:
    linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 1s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;

  @keyframes move {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 50px 50px;
    }
  }
}
</style>
