<template>
  <span v-tooltip="formatted">{{ parsed | timeago }}</span>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { format, parseISO, timeago } from '@/date'
import tooltip from '@/directives/tooltip'

@Component({
  directives: { tooltip },
  filters: { timeago }
})
export default class extends Vue {
  @Prop() readonly datetime!: string
  parsed!: Date

  created(): void {
    this.parsed = parseISO(this.datetime)
  }

  get formatted(): string {
    return format(this.parsed)
  }
}
</script>
