<template>
  <span class="tooltip">{{ text }}</span>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class extends Vue {
  @Prop() text!: string
}
</script>

<style lang="scss">
// Source: https://www.w3schools.com/howto/howto_css_tooltip.asp
.tooltip-parent {
  position: relative;
  display: inline-block;

  .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: $tooltip-background;
    color: $tooltip-color;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $tooltip-background transparent transparent transparent;
    }
  }

  &:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}
</style>
