<template>
  <div>
    <virtual-list
      class="list-keep"
      :page-mode="true"
      :estimate-size="42"
      :data-key="'filename'"
      :data-sources="directoryItems"
      :data-component="itemComponent"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { mapState } from 'vuex'
import VirtualList from 'vue-virtual-scroll-list'
import DirectoryItemComponent from './DirectoryItem.vue'

@Component({
  components: { VirtualList },
  computed: mapState(['directoryItems'])
})
export default class extends Vue {
  readonly itemComponent = DirectoryItemComponent
}
</script>

<style scoped lang="scss">
.list-keep {
  width: 100%;
  overflow-y: auto;
}
</style>
