<template>
  <div class="directory-item">
    <div
      v-if="thumbnail"
      class="thumbnail"
    >
      <img :src="thumbnail">
    </div>
    <div
      v-else
      class="icon"
    >
      <i
        class="typcn"
        :class="{ 'typcn-document-text': isFile,
                  'typcn-folder': !isFile }"
      />
    </div>
    <div class="content">
      <editable
        ref="editable"
        class="tile-title"
        :text="source.basename"
        :data-testid="'file-' + index + '-name'"
        @edited="rename"
      >
        <span v-if="isFile">{{ source.basename }}</span>
        <router-link
          v-else
          :to="source.basename"
          append
        >{{ source.basename }}</router-link>
      </editable>
      <small
        v-if="isFile"
        class="tile-subtitle text-gray"
      >{{ $n(source.size) }} bytes</small>
      <small
        v-else
        class="tile-subtitle text-gray"
      >Directory</small>
    </div>
    <div class="last-modified">
      <small class="tile-subtitle">
        <timeago :datetime="source.lastmod | toISO" />
      </small>
    </div>
    <div class="action">
      <a
        :data-testid="'file-' + index + '-actions'"
        @click.stop="menu"
      >
        <i class="typcn typcn-arrow-sorted-down" />
      </a>
    </div>
    <vue-context ref="menu">
      <template
        v-if="child.data"
        slot-scope="child"
      >
        <li>
          <a
            v-if="isFile"
            :href="webdavUrl + child.data.item.filename"
            data-testid="download-link"
          >{{ $t('download') }}</a>
          <a
            href="#"
            data-testid="rename-link"
            @click.prevent="startRenaming"
          >{{ $t('rename') }}</a>
        </li>
      </template>
    </vue-context>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import VueContext from 'vue-context'
import { DirectoryItem, File } from '@/DirectoryItem'
import { toISO } from '@/date'
import guard from '@/guard'
import Editable from './general/Editable.vue'
import Timeago from './general/Timeago.vue'

@Component({
  components: { Editable, Timeago, VueContext },
  filters: { toISO }
})
export default class extends Vue {
  @Prop() readonly index!: number
  @Prop() readonly source!: DirectoryItem

  webdavUrl = `${process.env.VUE_APP_API_URL}/files`
  thumbnailsUrl = `${process.env.VUE_APP_API_URL}/thumbnails`

  startRenaming(): void {
    (this.$refs.editable as Editable).beginEditing()
  }

  rename(newName: string): void {
    const promise = guard(
      this,
      () => this.$store.dispatch('rename', { item: this.source, newName }),
      () => this.$t('error.rename', { filename: this.source.basename }).toString())

    const editable = this.$refs.editable as Editable
    editable.setLoading(promise)
  }

  get isFile(): boolean {
    return this.source instanceof File
  }

  get thumbnail(): string | null {
    if (this.source instanceof File && this.source.isImage()) {
      return `${this.thumbnailsUrl}${this.source.filename}`
    }
    return null
  }

  menu(e: MouseEvent): void {
    const target = e.target as Element
    const menu = this.$refs.menu as VueContext
    menu.open({
      clientX: target.getBoundingClientRect().left,
      clientY: target.getBoundingClientRect().bottom,
      target: target
    }, {
      item: this.source
    })
  }
}
</script>

<style scoped lang="scss">
.directory-item {
  display: flex;
  align-content: space-between;
  align-items: center;
  transition-duration: 0.2s;
  padding: 0.2rem 0;

  .icon,
  .thumbnail {
    width: 2.25rem;
    flex: 0 0 auto;
  }

  .icon {
    color: $primary;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
  }

  .thumbnail {
    height: 2.25rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    flex: 1 1 auto;
    line-height: 1;
    overflow: hidden;
    padding: 0 0.4rem;

    small {
      color: $small;
      font-size: 80%;
      font-weight: 400;
    }

    .tile-title {
      height: 1.25em;

      span,
      a {
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .last-modified {
    flex: 0 0 auto;
  }

  .action {
    color: $primary;
    flex: 0 0 auto;
    font-size: 2rem;
    line-height: 1;
    padding: 0 0.5rem;

    // https://stylelint.io/user-guide/rules/no-descending-specificity#dom-limitations
    /* stylelint-disable-next-line no-descending-specificity */
    a {
      cursor: pointer;
    }

    .disabled {
      color: $disabled;
    }
  }
}
</style>
