<template>
  <div>
    <h1>
      {{ directory }}
      <router-link
        v-if="directory !== '/'"
        ref="parentLink"
        to="../"
        append
      >
        <i class="typcn typcn-arrow-sorted-up" />
      </router-link>
    </h1>
    <div
      v-hotkey="keymap"
      class="page-width"
    >
      <loading-bar :loading="!listPromiser.done">
        <empty
          v-if="listPromiser.done
            && directoryItems.length === 0"
          icon="typcn typcn-folder"
          title="Empty folder"
        />
        <div v-else>
          <directory
            ref="directory"
            @rename="rename($event.item, $event.newName)"
          />
          <div class="summary">
            <div v-if="directoryCount > 0">
              {{ $tc('directory', directoryCount) }}
            </div>
            <div v-if="fileCount > 0">
              {{ $tc('file', fileCount) }}
            </div>
          </div>
        </div>
      </loading-bar>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { mapGetters, mapState } from 'vuex'
import guard from '@/guard'
import WebDAV from '@/webdav'
import LoadingBar from './general/LoadingBar.vue'
import Directory from './Directory.vue'
import Empty from './general/Empty.vue'

@Component({
  components: { Directory, Empty, LoadingBar },
  computed: {
    ...mapState(['directory', 'listPromiser', 'directoryItems']),
    ...mapGetters(['directoryCount', 'fileCount'])
  }
})
export default class extends Vue {
  webdavUrl = `${process.env.VUE_APP_API_URL}/files`
  client!: WebDAV

  mounted(): void {
    this.client = new WebDAV(this.webdavUrl)
    this.$watch('$route',
      (newRoute) => {
        const directory = `/${newRoute.params.pathMatch}`
        guard(
          this,
          () => this.$store.dispatch('listDirectory', directory),
          () => this.$t('error.listDirectory', { directory }).toString())
      },
      { immediate: true, deep: true })
  }

  directoryUp(): void {
    const component = this.$refs.parentLink as Vue
    if (component) {
      const element = component.$el as HTMLElement
      element.click()
    }
  }

  get keymap(): Record<string, () => void> {
    return { 'alt+up': this.directoryUp }
  }
}
</script>

<style scoped lang="scss">
.summary {
  color: $small;
  font-size: 80%;
  text-align: center;
}
</style>
