<template>
  <div>
    <h1>{{ $t('welcome') }}</h1>
    <form
      class="page-width"
      @submit.prevent="submit"
    >
      <my-input
        v-model="name"
        class="my-input"
        type="text"
        icon="typcn typcn-user"
        :placeholder="$t('username')"
        autofocus="true"
        data-testid="name"
      />
      <my-input
        v-model="password"
        class="my-input"
        type="password"
        icon="typcn typcn-key"
        :placeholder="$t('password')"
        data-testid="password"
      />

      <button
        type="submit"
        :disabled="!promiser.done"
      >
        <span v-if="promiser.done">{{ $t('login') }}</span>
        <span v-else><loading /></span>
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { authenticate } from '@/api'
import Promiser from '@/Promiser'
import displayToastOnError from '@/displayToastOnError'
import Loading from './general/Loading.vue'
import MyInput from './general/Input.vue'

@Component({
  components: { Loading, MyInput }
})
export default class extends Vue {
  name = ''
  password = ''
  promiser = new Promiser(null)

  submit(): void {
    this.promiser = new Promiser(displayToastOnError(this, async () => {
      await authenticate(this.name, this.password)
      this.$router.push('/')
    }, () => this.$t('error.login').toString()))
  }
}
</script>
