<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class extends Vue { }
</script>

<style lang="scss">
#app {
  margin-top: 30px;
  background: #fff;
  color: #3b4351;
}
</style>
