$primary: #5755d9;
$visited: #807fe2;
$hover: $visited;
$small: #bcc3ce;
$placeholder: $small;
$border: $small;
$text-disabled: $small;
$empty: $small;
$button-disabled: #7a79b5;
$disabled: #eaeaea;
$tooltip-background: #555;
$tooltip-color: white;

$breakpoint-desktop: 768px;

html {
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.page-width {
  width: 100%;

  @media (min-width: $breakpoint-desktop) {
    width: 50%;
    margin: 0 auto;
  }
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $visited;
  }
}

form {
  display: flex;
  flex-direction: column;

  button[type="submit"] {
    background-color: $primary;
    padding: 15px;
    margin: 40px 20px;
    font-size: inherit;
    color: white;
    border: none;
    cursor: pointer;

    > span {
      font-size: 130%;
    }

    &:hover {
      background-color: $hover;
    }

    &:disabled {
      background-color: $button-disabled;
    }
  }

  .my-input {
    margin: 0 20px;
  }
}
